*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
/spec/dummy
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/secrets.yml
Gemfile.lock

## Environment normalisation:
/.bundle
/vendor/bundle

.ruby-*

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc
